@import url('https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@200;300;900');
@import url('https://fonts.googleapis.com/css2?display=swap&family=M+PLUS+2:wght@200;300;900');
@import url('https://fonts.googleapis.com/css2?display=swap&family=Poppins:wght@200;300;900');


/** colors */

body {
    --DISABLED--bs-link-color-rgb: 66, 184, 131 !important;
    --DISABLED--bs-link-hover-color-rgb: 64, 180, 128 !important;
}

nav.navbar i.bi {
    -color: #22cbe1;
}


/** navbar */

nav.navbar a.navbar-brand {
    margin-left: 0.5rem;
    margin-right: 0.6rem;
}

nav.navbar a.navbar-brand,
nav.navbar a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav.navbar a.navbar-brand img {
    height: 34px;
    margin: 8px 0.8rem 8px 0.4rem;
    font-size: 12px;
}

nav.navbar a.navbar-brand img[src$="images/unity/made-with-unity.svg"] {
    height: 32px;
    margin: 10px 0.8rem 8px 0.5rem;
}

nav.navbar ul.dropdown-menu {
    padding: 8px 12px;
    width: max-content;
}

nav.navbar ul.dropdown-menu .nav-link {
    padding: 2px;
}

nav.navbar ul.navbar-nav>li:first-child {
    display: none;
}


/** left side toc */

nav.toc li>ul {
    -display: block !important;
}

nav.toc span.expand-stub {
    -display: none !important;
    padding-right: 0.2rem;
    line-height: 1.2rem;
}

nav.toc ul>li>ul>li>ul>li>ul {
    font-size: 0.95em;
    line-height: 1.1em;
}

nav.toc span.name-only {
    /* hard-coded in modern template */
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0;
}

nav.toc ul>li>ul>li>ul>li>ul span.name-only {
    margin: 0.8em 0 0 0;
}

nav.toc ul>li:first-child>span.name-only {
    margin-top: 0;
}


/** breadcrumb */

body[data-yaml-mime=ManagedReference] .breadcrumb>li:first-child {
    display: none;
}

body[data-yaml-mime=ManagedReference] .breadcrumb>li:nth-child(2) {
    padding-left: unset;
}

body[data-yaml-mime=ManagedReference] .breadcrumb>li:nth-child(2)::before {
    content: none;
}


/** affix */

body[data-yaml-mime=ManagedReference] div.affix .badge {
    vertical-align: super;
}

body[data-yaml-mime=ManagedReference] div.affix .link-body-emphasis {
    font-size: 1.1em;
    line-height: 1em;
}

body[data-yaml-mime=ManagedReference] div.affix .link-secondary {
    font-size: 0.9em;
}

[data-bs-theme=light] body[data-yaml-mime=ManagedReference] div.affix .link-secondary {
    opacity: 0.75;
}


/** api page */

h1.api>.badge,
h2.api>.badge {
    font-size: 0.4em;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0;
    vertical-align: super !important;
}

h2.api {
    position: relative;
}

h3.api>.badge {
    font-size: 0.5em;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0;
    vertical-align: super !important;
}

body[data-yaml-mime=ManagedReference] article dt .badge {
    vertical-align: text-top !important;
    font-size: 0.75em !important;
    font-weight: normal;
}


/** api page header */

body[data-yaml-mime=ManagedReference] article h1.api:first-child+div.alert {
    margin-bottom: 0.5rem;
}

body[data-yaml-mime=ManagedReference] article h1.api:first-child+div.facts,
body[data-yaml-mime=ManagedReference] article h1.api:first-child+div.alert+div.facts {
    margin-top: 0;
    margin-bottom: 0;
}

body[data-yaml-mime=ManagedReference] article h1.api:first-child+div.facts+pre+p,
body[data-yaml-mime=ManagedReference] article h1.api:first-child+div.alert+div.facts+pre+p {
    margin-top: 1.6rem;
}


/** article */

article ul>li>p,
article ol>li>p {
    margin-bottom: 0;
}

article ul>li:last-child,
article ol>li:last-child {
    margin-bottom: 0.25em;
}


/** content */

h1 code,
h2 code {
    font-size: 1.05em !important;
}

code {
    font-size: 1em !important;
}

.alert {
    padding: 0.75rem 1.5rem;
}

.alert>*:last-child {
    margin-bottom: 0;
}

.anchorjs-link {
    font-weight: 200;
}


/** font styles */

nav.navbar a.navbar-brand {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Inter', 'M PLUS 2', sans-serif;
    letter-spacing: -0.025em;
    font-weight: 900;
}

h3,
body[data-yaml-mime=ManagedReference] article h3[data-uid] {
    font-weight: 200;
}